@font-face {
	font-family: charter;
	src: url('/fonts/charter-regular.otf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: charter;
	src: url('/fonts/charter-italic.otf');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: charter;
	src: url('/fonts/charter-bold.otf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: charter;
	src: url('/fonts/charter-bold-italic.otf');
	font-style: italic;
	font-weight: bold;
}

:root {
	font-size: 18px;
	--white30: white;
	--white20: #a5a3a5;
	--white10: #3a3539;
}

body {
	color: var(--white30);
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Nunito', sans-serif;
	background: #251f24;
	margin: 0;
	/* font-family: Charter; */
}

a {
	color: var(--white30);
}

.header-content {
	/* position: relative;
	top: 65px; */
	padding: 0 20px;
}

header {
	margin-top: 20px;
	/* --white10: red; */
	font-size: 14px;
	color: var(--white);
	/* position: absolute; */
	/* left: -208px; */
	/* inline-size: 188px; */
}

header li {
	color: var(--white20);
	margin-block-end: 16px;
}

header a {
	color: var(--white20);
	text-decoration: none;
}

header a:hover {
	color: var(--white30);
}

nav details summary {
	color: var(--white30);
	font-weight: bold;
}

h1 {
	font-size: 45px;
	margin-top: 64px;
	margin-bottom: 20px;
	/* font-size: 3.75em; */
}

h2 {
	font-size: 2em;
	margin-block: 40px;
}

h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin-block: 16px;
}

hr {
	margin-block: 40px;
	border: 1.2px solid rgba(97, 97, 97, 0.2);
}

pre {
	background: var(--white10);
	padding: 40px;
	overflow: auto;
	border: 10px solid #5551ff;
	box-shadow: -10px 10px 0 0 #abaaf6;
	margin-block-end: 30px;
	border-start-start-radius: 60px;
}

p {
	color: var(--white20);
}

.hero {
	background-image: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);

	/* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.25), transparent), url('../img/pattern.png'); */
	/* background-repeat: no-repeat;
	background-position: left 50px bottom -50px; */

	height: 50px;
}

.section-content img {
	margin-block-start: 40px;
	display: block;
	max-inline-size: 100%;
}

.section-content {
	counter-reset: titleList;
}

.section-content h3 {
	counter-increment: titleList;
}

.section-content h3::before {
	content: counter(titleList, decimal) '. ';
}

/* .section-content h3::after {
	content: '';
	width: 32px;
	height: 4px;
	background: var(--white30);
	display: inline-block;
} */

blockquote {
	margin-block-start: 80px;
	margin-block-end: 63px;
	background-color: var(--white10);
	border-radius: 8px;
	line-height: 32px;
	font-size: 24px;
	padding-inline-end: 24px;
	padding-inline-start: 24px;
	padding-block-start: 24px;
	padding-block-end: 24px;
}

blockquote p {
	color: var(--white30);
}

::selection {
	background-color: black;
}

.main hr {
	display: none;
}

.wrapper {
	max-inline-size: 902px;
	margin: auto;
}

.main-content {
	padding-right: 16px;
	padding-left: 16px;
	margin-bottom: 60px;
}

input {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin-bottom: 24px;
	padding: 12px 16px 12px 16px;
	font-size: 16px;
	background-color: #251f24;
	border-color: var(--white30);
	color: white;
	border-radius: 8px;
	display: block;
}

input::placeholder {
	color: var(--white20);
}

input[type='submit'] {
	background-color: #157efb;
	border: none;
}

@media screen and (min-width: 1366px) {
	.hero {
		height: 350px;
	}
	.header {
		position: sticky;
		top: -45px;
	}

	.header-content {
		position: relative;
		top: 65px;
		padding: 0;
	}

	header {
		position: absolute;
		top: 0;
		left: -208px;
		inline-size: 188px;
	}
	h1 {
		font-size: 60px;
		margin-top: 64px;
	}
}
